body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #f5f5f5;
  margin-top: 50px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 10px;
}
/* Navigation bar stays centered */
nav {
  background: #627a8a;
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Image + text layout */
.intro {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 40px;   /* pushes section to left */
  text-align: left;
}

.intro img {
  width: 300px;
  height: auto;
}

.intro-text p {
  font-size: 20px;
  line-height: 1.6;
}
/* Footer runner */
.footer {
  background: #627a8a;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
}

.footer a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-text {
  color: white;
  margin: 0 15px;
  align-items: center;
  font-weight: bold;
}


