body {
  font-family: “Times New Roman”, serif;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 50px;

  nav {
  background: #627a8a;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
}
